<main class="ml-20">
  <div class="flex flex-row">
    <div>
      <%- include("../partials/leftbar"); %>
    </div>
    <div>
      <%- include("../partials/toolbar"); %>
      Main
    </div>
  </div>
</main>