<aside class="w-20 h-screen absolute left-0 top-0 bg-[#2864AE] hover:w-80 group transition-all ease-in-out duration-200">
  <nav class="h-full flex flex-col content-center justify-center">
    <ul class="p-2 flex flex-col gap-2">
      <li class="flex justify-center group-hover:justify-start"><a href="#" class="flex flex-row items-center px-4 py-1 hover:bg-[#3D73B6] rounded-full text-white text-center">
          <div class="inline-block text-xl w-8"><i class="fa-solid fa-cloud-bolt"></i></div>
          <div class="hidden group-hover:inline-block ml-2 text-nowrap">Nowcasting</div>
        </a></li>
      <li class="flex justify-center group-hover:justify-start"><a href="#" class="flex flex-row items-center px-4 py-1 bg-[#3D73B6] hover:bg-[#3D73B6] rounded-full text-white text-center">
          <div class="inline-block text-xl w-8"><i class="fa-solid fa-cloud-sun-rain"></i></div>
          <div class="hidden group-hover:inline-block ml-2 text-nowrap">Previsão Numérica</div>
        </a></li>
      <li class="flex justify-center group-hover:justify-start"><a href="#" class="flex flex-row items-center px-4 py-1 hover:bg-[#3D73B6] rounded-full text-white text-center">
          <div class="inline-block text-xl w-8"><i class="fa-solid fa-cloud-rain"></i></div>
          <div class="hidden group-hover:inline-block ml-2 text-nowrap">Tempo</div>
        </a></li>
    </ul>
  </nav>
</aside>